<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Платформа МПСУ</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.svg') }}" type="image/svg+xml">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/nav_bar_style.css') }}" rel="stylesheet">
</head>
<body class="dark-theme">
    <div class="background-animation"></div>

    <nav class="navbar navbar-expand-lg navbar-dark">
        {% if current_user.role == 'moderator' %}
        <a class="navbar-brand" href="{{ url_for('dashboard') }}">
            <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Miet Logo" style="height: 32px;">
        </a>
        {% endif %}
        {% if current_user.role == 'admin' %}
        <a class="navbar-brand" href="{{ url_for('admin') }}">
            <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Miet Logo" style="height: 32px;">
        </a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if current_user.is_authenticated %}

                    {% if current_user.role == 'moderator' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('dashboard') }}">Главная</a>
                    </li>
                    {% endif %}
                    {% if current_user.role == 'moderator' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('edit_group_members') }}">Редактировать список одногруппников</a>
                        </li>
                    {% endif %}
                    {% if current_user.role == 'admin' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin') }}">Админ панель</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('manage_users') }}">Редактировать пользователей</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="navbar-brand">
                        <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Miet Logo" style="height: 32px;">
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Войти</a>
                    </li> -->
                {% endif %}
            </ul>
            <!-- Кнопка переключения темы и выход -->
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Выйти</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <!-- <button id="theme-toggle" class="btn btn-outline-light">
                        <i class="fas fa-moon"></i> 
                    </button> -->
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>


    <footer class="footer mt-auto py-3">
        <div class="container text-center">
            <span class="text-muted">
                Если обнаружили неполадку - свяжитесь со мной в Telegram: 
                <a href="https://t.me/kirillKhabulinov" target="_blank" class="text-decoration-none">
                    <i class="fab fa-telegram"></i> @kirillKhabulinov
                </a>
            </span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" defer></script>
    <script src="{{ url_for('static', filename='js/toggle_theme.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
</body>
</html>